html,
body {
    margin: 0;
    padding: 5px;
    font-family: 'IBM Plex Mono', monospace;
    display: block;
    width: 70%;
    
}


/*
#contentpost p {
    padding:-15px;
}
*/

canvas {
    display: block;
}

#logo {
    font-weight: 700;
    color: #00e;
    font-style: italic;
    font-size: 40px;
}

.content {
    font-weight: 300;
    font-size: 20px;
    position: inherit;
    top: 15px;
    /*   left: 40px; */
    /*   width:400px; */
}

.addContent {
position: fixed;
  left: 0;
  bottom: 0;
  display: inline;
    font-family: inherit;
     padding:15px;
    width: inherit
}

.yourWords  {
    font-style: normal;
    float: right;
    padding:15px;
    background-color: aquamarine;
    margin-bottom: 5px;
/*    width: 30px;*/
}

.results{
/*    font-style: italic;*/
    background-color: aquamarine;
    float: left;
    padding: 15px;
    width: inherit;
    margin-bottom: 5px;
}

#generate{
   
position: inherit; 
    margin-left: -60px;
    margin-top: 10px;
    border: none;
    padding: 10px;
    background-color: aquamarine;
        
}
textarea {
   resize: none;
    widows: inherit;
/*    border: none;*/
}